@import url('https://fonts.googleapis.com/css2?family=AR+One+Sans:wght@400;500&family=Abril+Fatface&family=Anton&family=Archivo+Narrow&family=Bebas+Neue&family=Courgette&family=Inter&family=Kalam&family=Lato&family=Lilita+One&family=Lobster&family=Permanent+Marker&family=Poppins&family=Roboto&family=Roboto+Condensed&family=Rubik&display=swap');

*{
  padding: 0px;
  margin: 0px;
  font-family: 'AR One Sans', sans-serif;
}
